{% extends 'base.html.twig' %}

{% block title %}Prix abonnements{% endblock %}

{% block body %}
<table class="table">
    <tr class="thead-dark">
        <th>Numéro</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Heure</th>
        <th>Nom du coach</th>

    </tr>
</table>

{% endblock %}
