{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}
{% block titrepage %} Planning des cours {% endblock %}
{% block body %}

<div class="container">
    <table class="table">
        <tr class="thead-dark">
            <th>Horaires</th>
            <th>Nom</th>
            <th>Tranche d'âge</th>
            <th>Expérience</th>
            <th>Inscription</th>
        </tr>


    </table>

</div>
{% endblock %}
