{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titrepage %} <h1>BIENVENUE SUR LE SITE DE LA SALLE : LES MUSCLES SAIYANS ! </h1>{% endblock %}
{% block body %}

    <td><img src="{{ asset('images/Accueil/Accueil.jpg') }}" alt=""></td>


{% endblock %}
